.thumbnail {
    display: inline-block;
    height: 150px;
    width: 150px;
}

.thumbnail img {
    display: block;
    margin: auto; /* horizontally centers the img in the div */
}

/*.thumbnail:hover {
}
.thumbnail:active {
}*/

.clickable {
    cursor: pointer;
}

#modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /*index: 1;  */
}

#slideContainer {
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    margin: auto;
    height: 80%;
    width: 80%;
    top: 10%;
}

.slide {
    display: none;
}

.slide img {
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
}

.slide p {
    position: relative;
    top: 60px;
    color: white;
}

#closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 48px;
}

#closeButton:hover {
    color: red;
}

/*#closeButton:active {
}*/

.arrow {
    position: absolute;
    top: 50%;
    font-size: 48px;
}

.arrow:hover {
    color: red;
}

/*.arrow:active {
}*/

#leftArrow {
    left: 20px;
}

#rightArrow {
    right: 20px;
}
