/*
 * General elements
 */

body {
   font-family: "Source Sans Pro", Arial, sans-serif;
}

.clickable {
    cursor: pointer;
}


/*
 * Thumbnail view elements
 */

#header {
    margin: 20px 0px;
    text-align: center;
}

#header h1 {
    margin-bottom: 15px;
}

#thumbnailsContainer {
    padding-top: 35px;
}

.thumbnailDiv {
    display: inline-block;
    height: 150px;
    width: 150px;
}

.thumbnailImg {
    display: block;
    margin: auto; /* horizontally centers the img in the div */
    padding: 10px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0); /* invisible placeholder for hover border so elements don't shift */
}

.thumbnailImg:hover {
    border-bottom: 2px solid rgb(117, 26, 255);
}


/*
 * Modal view elements
 */

#modal {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

#modalContent {
    position: relative;
    width: 600px; /* widest image is 500px, plus space for arrow icons */
    margin: auto;
    color: gray;
}

#slideContainer {
    position: relative;
    top: 40px;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    display: block;
    margin: auto;
}

.slide p {
    margin-bottom: 0px;
    text-align: center;
}

#slideTitle {
    color: white;
}

.smallText {
    font-size: 12px;
}

#closeButton {
    position: absolute;
    top: 20px;
    right: 0px;
}

.arrow:hover, #closeButton:hover {
    color: rgb(117, 26, 255);
}

.arrow {
    position: absolute;
    top: 200px;
    font-size: 24px;
}

#leftArrow {
    left: 0px;
}

#rightArrow {
    right: 0px;
}
