<!DOCTYPE <html>
<html>
<head>
    <title>Lightbox App</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>
    <div id="thumbnailsContainer">
        {% for photo in photos %}
        <div class="thumbnail" id="thumbnail{{ photo.photo_id }}">
            <img src="{{ photo.url_thumbnail }}">
            {{ photo.title }}
        </div>
        {% endfor %}
    </div>

    <div id="modal"></div>

    <script src="static/index.js" type="text/javascript"></script>
</body>
</html>
